/* page background pattern - use a seamless pattern - put "none" if you dont want to use a pattern */
$bg_pattern: "https://i.ibb.co/M6BknWV/bill-galaxy-web-ar.png";

/* page background color */
$bg_hex: #53698b;


/* primary color - links & primary buttons */
$primary: #4646DB;

/* sidebar background color - will have white font */
$sidebar_c: #000000;


/* TH header bar - will have white font */
$header: #000000;

/* content section backgrounds */
$body: rgba(0, 0, 0, .8);

/* main font color */
$font: #53698b;


/* border color - for divider lines - default is calculated, you can change to a hex code */
$border_alt: rgba($font, .125);

/* muted color - faded text - default is calculated, you can change to a hex code */
$muted: rgba($font, .75);


/* ------------------------------- PROFILE SWITCHES ------------------------------*/
/* content area corners ---- choose "sharp" or "soft" or "round" or "rounder" */
$radius: soft;


/* character header on character profiles -- choose "on" or "off" */
$character_header: on;


/* recent images on character profiles -- choose "on" or "off" */
$recent_images: on;


/* PROFILE LINK SWITCHES --- set to "on" for the sidebar links to appear -- set to "off" for the links to hide */
$nav_user_art: on;

$nav_user_designs: on;

$nav_worlds: on;

$nav_links: on;

$nav_lits: on;


/* ------------------------------- BOOTSTRAP COLORS ------------------------------*/
/* faded bg color - default is calculate, you can change to a hex code */
$bg_faded: darken($body, 4%);

/* success color */
$succ: $primary;

/* danger color */
$danger: #d9534f;

/* wanring color */
$warning: #f0ad4e;

/* info color */
$info: $primary;


/* controls font face */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,600');
body, p, td, a {font-family:'Roboto', arial, sans-serif;}


/* CSS IMPORT LINK -- DO NOT combine with other imports -- write custom css below the import */
@import '0/1551/zJjlnV/tidy';

.sidebar .display-character img, .sidebar img.display-user-avatar {
  display: block;
  max-height: 150px;
  max-width: 150px;
  margin: 10px auto !important;
  border-radius: 50%;
  background-color: #000;
  padding: 2px;
}

#sidebar, #sidepar p, .side-nav li.subheader a, #sidebar li.literature-name a {
  color: #4646DB;
}

.side-nav li a {
	color: #4646DB;
	font-size: 10pt;
	padding: .25em .5em;
	margin-left: 1.5em;
	letter-spacing: 1px;
	display: inline-block;
	border-radius: .5em;
	font-size: 10pt;
	padding: .25em .5em;
	margin-left: 1.5em;
	letter-spacing: 1px;
	display: inline-block;
	border-radius: .5em;
}

#sidebar, #sidepar p, .side-nav li.subheader a, #sidebar li.literature-name a {
  color: #53698B;
}

.side-nav li.divider {
	margin-right: 1em;
	margin-left: 1em;
	margin-top: 10px;
	border-color: #E9EDF7;
}

.side-nav li.active a, .side-nav li.active a:hover, .side-nav li.active a:focus, .side-nav li.active a:link {
	background: #000;
	color: #4646DB;
	font-weight:bold;
}

#sidebar .display-character a, #sidebar li.literature-name a, #sidebar .side-nav li .display-user a {
	font-size: 1.3em;
	text-align: center;
}

.side-nav .display-character a:hover {
 color:rgba(233,237,247,0.75);
 background:none;
 letter-spacing:2px
}

.user-characters-gallery, .characters-gallery {
	
}

.gallery-thumb.character-thumb .img-thumbnail {
	border:none;
	padding: 0px;
	box-shadow:none !important;
	border-radius:.25em;
	} 
	
img {
	vertical-align: middle;
	border-radius:.25em;
}

.img-thumbnail {
	background-color: hidden #322f31;
	border: 1px hidden #706968;
	border-radius: .25rem;
	padding: 0em;
	transition: none;
}

.gallery-row .gallery-item {
	flex: 0 0 16.6666666667%;
	max-width: 15%;
}

.btn-group-sm > .btn, .btn-sm {
	border-radius: .2rem;
	font-size: .87rem;
	padding: .25rem .5rem;
}

.gallery-thumb .thumb-caption .thumb-character-name, .gallery-thumb .thumb-caption .thumb-character-user, a.btn.btn-sm.btn-primary.character-name-badge {
	display: block;
	font-weight: 400;
	letter-spacing: 1px;
}

.btn.btn-secondary, .btn-secondary {
	background: #000;
	border: 1px solid #000;
	color: #4646DB;
}

.btn.btn-default {
	border-color: rgba(0,0,0,0.85);
	background: rgba(0,0,0,0.85);
	color: #4646DB;
}

.col-lg-3 {
	flex: 0 0 25%;
	max-width: 18%;
}

.sidebar-li-bulletins{
  display: none;
}

.sidebar-li-favorites {
  display: none;
}